<h1>Make a teacher</h1>

<!--  creating a teacher, so no id yet -->
<form action="/teachers" method="post">
    <input type="text" name="name" placeholder="New Teacher Name">
    <input type="submit" value="Submit Make a teacher">
</form>
