<h1>Form for a new Resolution </h1>

<form action="/resolutions" method="post">
  <input type="text" name="goal"><br>
  <input type="date" name="deadline"><br>
  <input type="text" name="accomplished"><br>
  <input type="submit" value="Make that reesolution!">
</form>
