<h1> See all the posts!!! </h1>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <p><%= post.user.username %></p>
  <p><%= post.sponsor %></p>
  <%= link_to "Go Read Post", post %>
<% end %>
