<h1>One Resolution!!!!</h1>

  <p>Goal: <%= @resolution.goal %></p>
  <p>Deadline: <%= @resolution.deadline %></p>
  <p>Accomplished: <%= @resolution.accomplished %></p>


<!-- How do you normally link? a href-->
