<h1>Edit User</h1>

<!-- if you give it a empty user => it knows to post and create
      if you give it an existing user => it knows to patch and fill in stuff -->
<!-- compliance - 508?? -->
<%= render "form" %>
