<h1>Menu</h1>

<%= render "cart" %>

<% @nachos.map do |nacho| %>
  <ul>
    <li>
      <%= link_to nacho.name, nacho %>
      $<%= nacho.price %>
      <%=
        button_to "Add To Cart",
        mario_cart_path,
        method: :patch,
        params: { item_id: nacho.id }
      %>
    </li>
  </ul>
<% end %>
