<h1> USER SHOW PAAAAAAAAAAAAAAAAAAAAGE</h1>

<p><%= @user.username %></p>
<p><%= @user.password %></p>

<%= image_tag @user.avatar %>

<% if params[:id] == session[:user_id] %>
  <%= button_to "Delete my account", "/path/to/delete/route", method: :delete %>
<% end %>
